<service>
  <id>nginx3</id>
  <name>Nginx3</name>
  <description>This is an Nginx service.</description>
  <executable>C:\nginx\nginx-service.exe</executable>
  <arguments>-c C:\nginx\conf\nginx.conf</arguments>
  <logmode>rotate</logmode>
</service>
