<service>
  <id>nginx</id>
  <name>Nginx</name>
  <description>This is an Nginx service.</description>
  <executable>C:\nginx\nginx-service.exe</executable>
  <arguments>start -c C:\nginx\conf\nginx.conf</arguments>
  <logmode>rotate</logmode>
</service>
